* {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 30px;
    background-color:#D24545;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 1rem rgba(248, 239, 239, 0.3);
    font-size: 8vmin;
    color: wheat;
    background-color: #872341;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    box-shadow: 2px 2px 2px wheat;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 4px wheat;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  #reset-btn:hover{
box-shadow: -2px -2px 4px wheat;
  }
  #new-btn:hover{
    box-shadow: -2px -2px 4px wheat;
      }